In [ ]:
Panda.series.string method?

str.lower()

import pandas as pd
import numpy as np
technologies= ({
    'Courses':["SPARK","PYSPARK","HADOOP","PANDAS"],
    'Fee' :['22000','25000','24000','26000'],
    'Duration':['30days','50days','40days','60days'],
    'Discount':['1000','2300','2500','1400']
              })
df = pd.DataFrame(technologies)
print(df)

# convert lowercase column use str.lower()
df['Courses'] = df['Courses'].str.lower()
print(df)

# convert lowercase column use apply()
df['Courses'] = df['Courses'].apply(str.lower)
print(df)

# Use apply() & lambda function
df['Courses'].apply(lambda x: x.lower())
print(df)

# Convert pandas column to lowercase use map()
df['Courses'] = df['Courses'].map(str.lower)
print(df)

====================================
str.upper()
======================================
str.length()

import pandas as pd

data = pd.DataFrame({

    'age' : [15, 17, 20, 14, 25],

    'name': ["Sample", "New User", "My Name", "Jane Doe", "John Doe"]

})

data['name'].str.len()

You'll get the following output:

0    6

1    8

2    7

3    8

4    8

Name: name, dtype: int64
========================================
str.strip()

import numpy as np
import pandas as pd
s = pd.Series(['1. Bat.  ', '2. Dog!\n', '3. fox?\t', np.nan])
s.str.strip()

str.lstrp()

str.rstrp()
============================================
str.split()

import numpy as np
import pandas as pd
s = pd.Series(["this is my new pen",
               "https://www.w3resource.com/pandas/index.php",
               np.nan])
s.str.split()		

==============================================

str.contains()
======================================

str.replace()
====================================
str.startswith()
====================================
str.endswith()
======================================
str.cat()
===================================
str.get()
==================================
str.slice()
===============================
str.find()
===============================

# string upper()

In [10]:
import pandas as pd
import numpy as np
technologies= ({
    'Courses':["SPARK","PYSPARK","HADOOP","PANDAS"],
    'Fee' :['22000','25000','24000','26000'],
    'Duration':['30days','50days','40days','60days'],
    'Discount':['1000','2300','2500','1400']
              })
df = pd.DataFrame(technologies)

# convert uppercase column use str.upper()
df['Courses'] = df['Courses'].str.upper()
print(df)

   Courses    Fee Duration Discount
0    SPARK  22000   30days     1000
1  PYSPARK  25000   50days     2300
2   HADOOP  24000   40days     2500
3   PANDAS  26000   60days     1400

# String lower()

In [11]:
# convert lowercase column use str.lower()
df['Courses'] = df['Courses'].str.lower()
print(df)

   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400

# string len()

In [8]:
df['Courses'] = df['Courses'].str.len()
print(df)

   Courses    Fee Duration Discount
0        5  22000   30days     1000
1        7  25000   50days     2300
2        6  24000   40days     2500
3        6  26000   60days     1400

# Lambda function

In [12]:
# Use apply() & lambda function
df['Courses'].apply(lambda x: x.lower())
print(df)

   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400

# Convert pandas column to lowercase use map()

In [14]:
df['Courses'] = df['Courses'].map(str.lower)
print(df)

   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400

# Str len()

In [13]:
import pandas as pd

data = pd.DataFrame({

    'age' : [15, 17, 20, 14, 25],

    'name': ["Sample", "New User", "My Name", "Jane Doe", "John Doe"]

})

data['name'].str.len()

0    6
1    8
2    7
3    8
4    8
Name: name, dtype: int64

# strip

In [15]:
import numpy as np
import pandas as pd
s = pd.Series(['1. Bat.  ', '2. Dog!\n', '3. fox?\t', np.nan])
s.str.strip()

0    1. Bat.
1    2. Dog!
2    3. fox?
3        NaN
dtype: object

# Lstrip()

In [23]:
import numpy as np
import pandas as pd
s = pd.Series(['1. Bat.  ', '2. Dog!\n', '3. fox?\t', np.nan])


s.str.lstrip()

0    1. Bat.
1    2. Dog!\n
2    3. fox?\t
3          NaN
dtype: object

# rstrip()

In [24]:
import numpy as np
import pandas as pd
s = pd.Series(['1. Bat.  ', '2. Dog!\n', '3. fox?\t', np.nan])

s.str.rstrip()

0    1. Bat.
1    2. Dog!
2    3. fox?
3        NaN
dtype: object

# Str split()

In [20]:
import numpy as np
import pandas as pd
s = pd.Series(["this is my new pen",
               "https://www.w3resource.com/pandas/index.php",
               np.nan])
s.str.split()

0                         [this, is, my, new, pen]
1    [https://www.w3resource.com/pandas/index.php]
2                                              NaN
dtype: object

# Str Contain()

In [30]:
import numpy as np
import pandas as pd
s = pd.Series(["this is my new pen",
               "https://www.w3resource.com/pandas/index.php",
               np.nan])
s.str.contains('PA')

0    False
1    False
2      NaN
dtype: object

# Str replace()

In [33]:
import numpy as np
import pandas as pd
s = pd.Series(["this is my new pen",
               "https://www.w3resource.com/pandas/index.php",
               np.nan])
s.str.replace('.','?')

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24688\3051624517.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  s.str.replace('.','?')

0                             this is my new pen
1    https://www?w3resource?com/pandas/index?php
2                                            NaN
dtype: object

# Str startswith()

In [36]:
import numpy as np
import pandas as pd
s = pd.Series(["this is my new pen",
               "https://www.w3resource.com/pandas/index.php",
               np.nan])
s.str.startswith('t')

0     True
1    False
2      NaN
dtype: object

# str endswith()

In [37]:
import numpy as np
import pandas as pd
s = pd.Series(["this is my new pen",
               "https://www.w3resource.com/pandas/index.php",
               np.nan])
s.str.endswith('s')

0    False
1    False
2      NaN
dtype: object

# Str cat()

In [38]:
s.str.cat()

'this is my new penhttps://www.w3resource.com/pandas/index.php'

# Str get()

In [48]:
s.str.get('this')

0   NaN
1   NaN
2   NaN
dtype: float64

#  Str slice()

In [51]:
s.str.slice('s')

0   NaN
1   NaN
2   NaN
dtype: float64

# str find()

In [46]:
s.str.find('h')

0    1.0
1    0.0
2    NaN
dtype: float64